html,
body {
  height: 100%;
  overflow: auto;
}

.login {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
  text-align: center;
}
.btn {
  max-width: 300px;
}
.user-songs {
  color: #fff;
  text-align: left;
  list-style-type: none;
  background: rgba(0, 0, 0, 0.7);
  border-style: solid;
  border-radius: 3%;
  border-color: grey;
  border-width: 1px;
}
.header {
  color: #fff;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("./img/pexels-trinity-kubassek-342520.jpg") no-repeat center
    center/cover;
  height: 800px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px;
}

h3 h5 p {
  color: #fff;
}
